{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Статья</title>
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="article">
    <div class="header-article">
        <img src="{% static 'logo.JPG' %}">

        <div class="header-links">
            <h2 class="post-title"><a href="{% url 'archive' %}">Все статьи</a></h2>
            {% if request.user.is_authenticated %}
                <h3><a href="{% url 'create_post' %}">Создать статью</a></h3>
                <h3><a href="{% url 'log_out' %}">Выход из аккаунта</a></h3>


            {% else %}
                <h3><a href="{% url 'register' %}">Регистрация</a></h3>
                <h3><a href="{% url 'auth' %}">Авторизация</a></h3>
            {% endif %}
        </div>


    </div>
    <div class="article">
        <h2>{{ post.header }}</h2>
        <div class="article-author">{{ post.author.username }}</div>
        <div class="article-created-date">{{ post.created_date }}</div>
        <p >{{ post.get_excerpt }}</p>
    </div>
</body>
</html>